body {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    background-color: rgb(235, 245, 223);
}

button {
    font-family: 'Courier New', Courier, monospace;
}

.page-wrapper {
    text-align: center;
    width: 100%;
}

#wrapper {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}